.footer {
  height: 400px;
  width: 100%;
  background-color: #e55039;
  color: #fff;
  margin-top: 30px;
  // margin-bottom: 0;
  text-align: center;
  position: absolute;
}
.droits {
  margin-top: 55px;
}
li {
  list-style: none;
}
