.auth-forget-password {
  font-size: 0.7rem;
  color: white;
}

.auth-register-new {
  color: white;
}

.auth-advice {
  font-size: 0.75rem;
}

.alert {
  color: white;
  background-color: #e55039;
}

.auth-btn-new-account {
  background-color: #e55039;
}

.auth-btn-new-account:hover {
  background-color: #bf5540;
}
